@import "../../utils/variable.css";

.container {
    max-width: 500px;
    background-color: var(--blue);
    color: var(--orange);
    font-family: 'Roboto Mono', monospace;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.sender {
    color: var(--white);
    background-color: var(--orange);
    align-self: flex-start;
}

.messageInfo {
    font-size: 12px;
}