@import "../../utils/variable.css";

.container {
    background-color: var(--gray);
    display: flex;
    height: 100%;
}

.messageBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 85%;
}