@import "../../utils/variable.css";

.container {
    background-color: var(--orange);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
    color: var(--white);
}